# docker-compose 용 환경변수. 복사해서 사용하세요:  cp .env.example .env
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=alimi
MYSQL_USER=alimi
MYSQL_PASSWORD=alimi
MYSQL_PORT=3306

KAFKA_HOST_PORT=29092
KAFKA_UI_PORT=8081

APP_PORT=8080
